.form {
  height: 100%;
  border: 1px solid red;
  width: 50%;
}

.errorModal {
  border-radius: 10px;
  margin: auto;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  & * {
    text-align: center;
  }
}